body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  box-sizing: border-box;
  margin: 0;
  width: 730px;
  height: 100px;
  resize: vertical;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 750px;
}

.row {
  display: flex;
}

.button {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  margin: 7px 5px;
  color: aliceblue;
  font-size: 14px;
  background-color: black;
  cursor: pointer;
  transition: 100ms;
}

.button:hover {
  border: 3px #909090 solid;
}

.button.button15{
  width: 60px;
}

.button.button2{
  width: 90px;
}

.button.button3{
  width: 140px;
}

.button.button4{
  width: 300px;
}

.button.active {
  color: black;
  background-color: aquamarine;
  transition: 400ms;
}

.main {
  position: relative;
  top: 25%;
  left: 15%;
}

.sub {
  position: relative;
  top: 0%;
  left: 5%;
}

.info {
  width: 400px;
  text-align: center;
  align-self: center;
}
